.navbar{
    display: flex;
    background-color: white;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.navbar a{
    list-style: none;
    color: rgb(0, 0, 0);
    margin: 1rem;

    text-decoration: none;

    cursor: pointer;
}

.navbar a:hover{
    color: #999;
}

